@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

section {
    padding: 0 32px;
}

.purple {
    color: #6415ff
}

h1 {
    font-size: 48px;
    color: #1a202c;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
}

h3 {
    font-size: 24px;
}

p  {
    font-size: 18px;
    line-height: 1.25;
}

h4 {
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
    letter-spacing: 1.6px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

ul {
    display: flex;
}
  
li {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

img {
    width: 100%;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

/*

NAV

*/

nav {
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    padding-left: 12px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    margin: 0 24px;
    letter-spacing: 0.35px;
    transition: all 300ms;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    padding: 10px 32px;
    border-radius: 50px;
    background-color: #6415ff;
    color: #fff;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/*

LANDING

*/

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.btn__header--email {
    z-index: 2;
    position: absolute;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

/*

FEATURES

*/

#features {
    position: relative;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

#features .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
}

.features__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature {
    display: flex;
    width: calc(100% / 3);
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/*

QUALITY

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quality .btn {
    margin-top: 32px;
}

#quality .section__title,
#values .section__title {
    line-height: 1.25;
}


.quality__text {
    max-width: 576px;
    margin-right: 64px;
}

.quality__text,
.quality__img--wrapper {
    width: 50%;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    margin: 0 56px;
    display: flex;
    position: relative;
    z-index: 2;
    
}

.quality__img {
    z-index: 1;
}

/*

STEPS

*/

#steps .row {
    display: flex;
}

.steps__text,
.steps__img--wrapper {
    width: 50%;
}